 @font-face {
    font-family:'font';
    src: url('LexendDeca-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Big shoulders';
    src: url('BigShouldersDisplay-VariableFont_wght.ttf');
}
body{
    font-family: font;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.sedans{
    border: 4px solid hsl(31, 77%, 52%);
    border-radius: 6px 1px 1px 6px;
    background-color: hsl(31, 77%, 52%);
    padding: 25px;
    width: 267px;
    height: 490px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

p{
    font-family: font;
    color: hsl(0, 0%, 95%);
    line-height: 35px;
    padding-top: 15px;
    font-weight: 400;
}

h1{
    font-family: Big shoulders;
    color: hsl(0, 0%, 95%);
    padding-top: 15px;
    font-weight: 700;
    font-size: xx-large;
}

a{
    position: relative;
    top: 92px;
    padding: 10px;
    border: 3px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    border-width: thick;
    width: 50%;
    color: hsl(31, 77%, 52%);
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

span:hover{
    color: hsl(0, 0%, 95%);
}

.sedans a:hover{
    background-color: hsl(31, 77%, 52%);
}

.suvs{
    border: 4px solid hsl(184, 100%, 22%);
    border-radius: 0px;
    background-color: hsl(184, 100%, 22%);
    padding: 25px;
    width: 267px;
    height: 490px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

 .suvs a{
    position: relative;
    top: 92px;
    padding: 10px;
    border: 3px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    border-width: thick;
    width: 50%;
    color: hsl(184, 100%, 22%);
    font-weight: 500;
    display: flex;
    justify-content: center;
    
} 

.suvs a:hover{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    border: 4px solid hsl(179, 100%, 13%);
    border-radius: 1px 6px 6px 1px;
    background-color: hsl(179, 100%, 13%);
    padding: 25px;
    width: 267px;
    height: 490px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.luxury a{
    position: relative;
    top: 92px;
    padding: 10px;
    border: 3px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    border-width: thick;
    width: 50%;
    color: hsl(179, 100%, 13%);
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.luxury a:hover{
    background-color: hsl(179, 100%, 13%);
}

 @media screen and (max-width:375px){

    .cards-container{
        display: flex;  
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 11px;
        top: 10px;
        padding-bottom: 20px;
    }
    .card {
        position: relative;
        left: 10px;
        right: 10px;
       }
 
    h1{
        font-size: x-large;
    }

     .sedans a{
        top: 30px;
        font-size: smaller;
    }

    .suvs a{
        top: 30px;
        font-size: smaller;
    }

    .luxury a{
        top: 30px;
        font-size: smaller;
    }

}
    

